[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.0"
"do2im" = {editable = true, path = "."}

[dev-packages]
pytest = "==3.9.2"

[requires]
python_version = "3.7"
